In [2]:
import numpy as np
import pandas as pd

### Question 1
What's the version of Pandas that you installed?

In [3]:
pd.__version__

'1.4.2'

### Question 2
How many columns are in the dataset?

In [6]:
df = pd.read_csv('housing.csv')

In [15]:
df.shape

(20640, 10)

In [16]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

### Question 3
Which columns in the dataset have missing values?

In [10]:
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

### Question 4
How many unique values does the ocean_proximity column have?

In [11]:
df.ocean_proximity.nunique()

5

### Question 5
What's the average value of the median_house_value for the houses located near the bay?}

In [23]:
df[df['ocean_proximity'] == 'NEAR BAY']['median_house_value'].mean()

259212.31179039303

### Question 6
Calculate the average of total_bedrooms column in the dataset.  
Use the fillna method to fill the missing values in total_bedrooms with the mean value from the previous step.  
Now, calculate the average of total_bedrooms again.  
Has it changed?

In [34]:
df['total_bedrooms'].mean()

537.8705525375618

In [33]:
df['total_bedrooms'].fillna(537.8705525375618).mean()

537.8705525375639

### Question 7
Select all the options located on islands.  
Select only columns housing_median_age, total_rooms, total_bedrooms.  
Get the underlying NumPy array. Let's call it X.  
Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.  
Compute the inverse of XTX.  
Create an array y with values [950, 1300, 800, 1000, 1300].  
Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.  
What's the value of the last element of w?

In [50]:
X = df[(df['ocean_proximity'] == 'ISLAND')][['housing_median_age', 'total_rooms','total_bedrooms']].values

In [51]:
X

array([[  27., 1675.,  521.],
       [  52., 2359.,  591.],
       [  52., 2127.,  512.],
       [  52.,  996.,  264.],
       [  29.,  716.,  214.]])

In [61]:
XTX = X.T.dot(X)

In [62]:
inverse = np.linalg.inv(XTX)

In [63]:
y = np.array([950, 1300, 800, 1000, 1300])

In [66]:
w = (inverse.dot(X.T)).dot(y)

In [67]:
w

array([23.12330961, -1.48124183,  5.69922946])